.firstbg{
    background-color: #4F6F52;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome{
    font-weight: bold;
    color: #3A4D39;    ;
}
.slogan{
    font-weight: 900;
    color: #FFF;
    font-size: 50px;
}
.sloganInfo{
    font-size: 17px;
    color: #FFF;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boxDesign{
    width: 500px;
    padding: 1.5rem;
    border: 1px solid #4F6F52;
    margin: 1rem;
}
.colorBox{
    width: 300px;
    height: 25vh;
    background-color: #739072;
    margin-left: 40px;
}
.body{
    overflow-x: hidden;
}
.threeBox1, .threeBox2, .threeBox3{
    width: 25vw;
    height: 30vh;
}
.threeBox1, .threeBox3{
    background-color: #4F6F52;
    margin-left: 20vw;
    margin-top: 3rem;
}
.threeBox2{
    background-color: #739072;
    position: absolute;
    margin-left: 10rem;
    transform: translate(0,-100px);
    z-index: 0;
}
.threeBox3{
   position: absolute;
   z-index: 1;
}
.welcomeBox{
    width: 50%;
}

@media only screen and (max-width: 900px) {
    .welcomeBox{
        width: 100%;
    }
    .hexa{
        display: none !important;
    }
}

