.boxCal button, .operateUp button{
    padding: 0.5rem;
    background-color: white;
    margin: 0.5rem;
}

.boxCal, .operateUp{
    display: flex;
}
.result{
    width: 250px;
    height: 50px;
    background-color: white;
    margin: 0.5rem;
    padding: 1rem;
    overflow-x: auto;
}
.number{
    width: 200px;
}
.operateUp{
    width: 400px;
}
.operate,.operateUp button{
    width: 50px;
}
.operate button, .boxCal button{
    width: 50px;
}

